@font-face {
	font-family: Belwe;
	src: url("../fonts/BelweLightBT.ttf");
}

body {
	background: url("../images/background.jpg") no-repeat fixed center;
	background-size: 100%;
	color: white;
	font-family: Belwe;
	text-align: center;
}

.page, .header {
	display: flex;
	flex-direction: column;
	align-items: : center;
}

.boost{
	display: inline-flex;
	align-items: center;
	background-color: none;
}

.boost-tab, .boost-bouton{
	padding: 10px;
}

.ext{
	display: inline-flex;
	align-items: center;
	background-color: none;
}

.ext-tab, .ext-bouton, .bouton-aff-ext, .bouton-acc{
	padding: 10px;
}

input[type="submit"]{
	border: 0px solid black;
	border-bottom: 4px solid grey;
	border-radius: 20px;
	padding: 30px;
	font-family: Belwe;
	font-size: 18px;
	background-color: lightgrey;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type="submit"]:hover {
	cursor: pointer; 
}

input[type="submit"]:active {
	transform: translateY(4px);
}

.header{
	display:  inline-flex;
}

table {
	border-collapse: collapse;;
	border: 2px solid black;
	margin: auto;
}

th {
	border-right: 1px solid black;
	padding: 10px 10px;
}

tr {
	background-color: white;
	color: black;
}

tr:nth-child(even){
	background-color: lightgrey;
}

tr:nth-child(1){
	background-color: grey;
}